html {
  font-size: 10px;
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

.body {
  padding-top: 20px;
  font-size: 1.8rem;
  position: relative;
  line-height: 2rem;
  margin: auto;
  max-width: 1920px;
  width: 100%;
  background-color: rgb(66, 62, 62);
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
/*header style start*/
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}
.logo {
  width: 30%;
}
.logo__link {
  display: block;
}
.logo__link_img {
  max-width: 560px;
  width: 70%;
  height: 20%;
  cursor: pointer;
}
.logo__link_img-small {
  display: none;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
.return-start {
  width: 30%;
  justify-items: center;
  /* background-color: #008966; */
}
.return-start__button {
  width: 70%;
}
.button-green {
  margin: auto;
  min-height: 40px;
  background-color: #008966;
  border: none;
  border-radius: 15px;
  font-size: 2.8rem;
  line-height: 3rem;
  color: white;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.button-green:focus,
.button-green:hover {
  color: rgba(226, 240, 29, 0.8);
  transform: scale(1.03);
}
.header__score {
  width: 20%;
}
/*header style end*/
/*navigation birds type style start*/
.score__content {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: white;
  text-align: center;
  white-space: nowrap;
}
.bird-type_wrapper {
  background-color: rgba(0, 188, 140, 0.8);
  border-radius: 5px;
}
.bird-list {
  padding: 20px 0 20px 0;
  margin-left: 1%;
  margin-right: 1%;
}

.bird-type__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bird-list__link {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 2.6rem;
  line-height: 3.2rem;
  padding: 5px 10px;
  transition: all 0.3 ease-in-out;
}
.bird-list__link:hover,
.bird-list__link:focus {
  background-color: rgba(0, 188, 140, 1);
  cursor: pointer;
  color: rgba(226, 240, 29, 0.8);
  transform: scale(1.03);
}
/*navigation birds type style end*/
/*main content styles start*/
.quiz__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.quiz__title {
  /* align-self: center; */
  font-size: 3.2rem;
  line-height: 3.4rem;
  color: white;
  padding: 0 10px;
}
.quiz__content {
  color: white;
  width: 100%;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 37, 37);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.question__img {
  width: 50%;
  margin-bottom: 10px;
}

.question__img_bg {
  width: 100%;
  border-radius: 25px;
}
.question__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-left: 2%;
  align-self: flex-start;
  padding-top: 1%;
}
.question__answer {
  font-size: 2.8rem;
  line-height: 3.2rem;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 6%;
}
.question__player {
  width: 100%;
}
.quiz-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.quiz-box__variants {
  width: 95%;
  background-color: rgb(41, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  margin-right: 40px;
  padding-left: 20px;
}
.answers-list__item {
  display: inline-flex;
  width: 90%;
  color: whitesmoke;
  font-size: 3.5rem;
  line-height: 3.7rem;
  transition: all 0.2s ease-in-out;
}
.list__radio_label:hover,
.list__radio_label:focus,
.list__radio_label:target {
  cursor: pointer;
  background-color: rgba(142, 150, 161, 0.9);
  color: rgb(238, 188, 188);
  border-radius: 20px;
}
.list__radio_label:active {
  color: #9ce920;
}

/*custom style for radio input start*/
.list__radio_input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.list__radio_label {
  display: inline-block;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 10px 20px 60px;
  background-color: rgba(142, 150, 161, 0.7);
  margin: 10px 0;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.wrong_answer:checked + .list__radio_label {
  background-color: rgba(207, 33, 33, 0.9);
}
.right_answer:checked + .list__radio_label {
  background-color: rgba(33, 207, 47, 0.9);
}
.list__radio_input:disabled + .list__radio_label {
  color: rgb(136, 134, 134);
}
/*custom style for radio input end*/
.bird-info {
  background-color: rgb(41, 37, 37);
  border-radius: 20px;
  width: 50%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bird-info__picture {
  padding-top: 10px;
  width: 50%;
}
.bird-info__picture_img {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
}
.answer_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
}
.name_ru {
  width: 90%;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.4rem;
  color: white;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.name_en {
  width: 90%;
  text-align: center;
  font-size: 3rem;
  line-height: 3.1rem;
  color: white;
  margin-bottom: 10px;
}
.player-container {
  width: 90%;
  border-radius: 20px;
}
.bird-info__description {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  line-height: 3rem;
  color: white;
  padding-bottom: 15px;
}
.next__question {
  margin-top: 1%;
  text-align: center;
}
.next__question_button {
  width: 40%;
  display: inline-block;
  padding: 10px 0 10px 0;
  font-size: 3.2rem;
  line-height: 3.4rem;
  margin-bottom: 20px;
}

/*audioplayer styles start*/
.audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 37, 37);
  width: 98%;
  padding: 15px;
  border-radius: 20px;
}

.play-pause_icon {
  display: inline-block;
}

.audio-control__icons {
  width: 35px;
  height: 35px;
  margin-right: 2%;
}
.hidden-icon {
  display: none;
}
.audio-player__control_volume {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volume-icon {
  border-radius: 10px;
  background-color: transparent;
  display: inline-block;
}

.audio-player__control_icon {
  background: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  display: inline-block;
  margin-right: 2%;
}
.audio-player__play-status {
  margin-left: 4%;
  margin-right: 4%;
  width: 80%;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(114, 26, 104, 0.6);
  margin-bottom: 10px;
  position: relative;
  color: rgb(226, 224, 224);
}
.current-time {
  position: absolute;
  top: 8px;
  left: 5px;
}
.duration-time {
  position: absolute;
  top: 8px;
  right: 5px;
}
.audio-player__play-status_current {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 6px;
  background-color: rgba(236, 42, 214, 0.9);
  border-radius: 2px;
}
.audio-player__volume {
  appearance: none;
  width: 60%;
  height: 7px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.audio-player__volume::-webkit-slider-runnable-track {
  appearance: none;
  height: 7px;
  border-radius: 2px;
  width: 40%;
  background-color: rgba(114, 26, 104, 0.6);
}
.audio-player__volume::-webkit-slider-thumb {
  background: #536266;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -5px;
}

/*audioplayer styles end*/

/*main content styles end*/
/*footer styles start*/
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.author-repo__link,
.footer__course__link {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.author-repo__link:hover,
.author-repo__link:focus,
.footer__course__link:hover,
.footer__course__link:focus {
  transform: scale(1.05);
}
.author-repo__img,
.footer__course__img {
  width: 80px;
  height: 80px;
}
.footer__date {
  align-self: center;
}
.footer__date_content {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: rgb(37, 216, 240);
  text-align: center;
  padding-bottom: 10px;
}
/*footer styles end*/
/*burger menu styles start*/
.burger-icon {
  display: none;
  position: relative;
  left: -15%;
  width: 30px;
  height: 5px;
  background-color: #008966;
  cursor: pointer;
}
.burger-icon:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #008966;
  top: -10px;
}
.burger-icon:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #008966;
  top: 10px;
}
.burger-menu {
  width: 280px;
  height: 400px;
  background-color: rgba(255, 249, 168, 0.8);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  padding: 10px;
}
.burger-menu__header {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
  margin-left: 5%;
  color: rgb(197, 41, 245);
}
.burger-menu__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.burger-menu__link {
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: rgba(56, 22, 209, 0.7);
  padding: 10px 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.burger-menu__link:hover,
.burger-menu__link:focus,
.burger-menu__link:target {
  transform: scale(1.05);
  color: rgba(56, 22, 209, 1);
  background-color: rgba(46, 27, 27, 0.4);
  cursor: pointer;
}
.burger-menu__link_active {
  color: rgb(133, 74, 8);
}
.burger-menu_close-img {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
  transform: rotate(-90deg);
}
.burger-menu_close-img:hover,
.burger-menu_close-img:focus,
.burger-menu_close-img:target {
  transform: rotate(0deg);
  cursor: pointer;
}
.burger-menu_close {
  position: absolute;
  right: 13px;
  top: 8px;
}
.show-on-click {
  display: none;
}

/*burger menu styles end*/

@media screen and (max-width: 1200px) {
  .bird-info {
    width: 75%;
  }
  .quiz-box__variants {
    margin-right: 15px;
  }
}

@media screen and (max-width: 990px) {
  .bird-info {
    width: 80%;
  }
  .quiz-box__variants {
    margin-right: 10px;
  }
  .bird-info__picture {
    width: 60%;
  }
  .audio-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 37, 37);
    width: 90%;
    padding: 0px;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 880px) {
  .list__radio_label {
    width: 97%;
    height: 100%;
    padding: 10px 10px 20px 40px;
  }
  .answers-list__item {
    color: whitesmoke;
    font-size: 2.7rem;
    line-height: 3rem;
  }
  .bird-list__link {
    font-size: 2.2rem;
    line-height: 2.5rem;
    padding: 5px;
  }
  .quiz-box {
    flex-wrap: wrap;
  }
  .bird-info {
    width: 97%;
    margin-top: 1%;
  }
  .audio-player {
    width: 98%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 720px) {
  .unvisible-element,
  .logo__link_img-small,
  .burger-icon {
    display: block;
  }
  .big-image,
  .visible-nav {
    display: none;
  }
  .author-repo__img,
  .footer__course__img {
    width: 50px;
    height: 50px;
  }
  .footer__date_content {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 2px;
  }
  .header__score {
    width: 30%;
  }
}
@media screen and (max-width: 490px) {
  html {
    font-size: 8px;
  }
  .question {
    flex-wrap: wrap;
    justify-content: center;
  }
  .question__img {
    width: 70%;
  }
  .bird-info__picture {
    width: 70%;
  }
  .header__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .start-game {
    width: 90%;
  }
  .burger-icon {
    left: 76%;
  }
  .header__score {
    width: 90%;
  }
  .score__content {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: right;
  }
  .return-start {
    width: 100%;
  }
}
